---
layout: default
title: One-stop shop for your next website
type: frontpage
button: View portfolio
images:
  - desktop: devices.png
    title: frontpage image
---


<div class="container">
  <article>
    <h3>About</h3>
    
    <p>
      Csongor is a web designer and developer with great product skills
    </p>
    
    <nav>
      <h3>Logos</h3>
      <ul>
        <li>{% include atoms/circle.html text="RWD" %}</li>
        <li>{% include atoms/circle.html text="UX" %}</li>
        <li>{% include atoms/circle.html text="UI" %}</li>
        <li>{% include atoms/circle.html text="CMS" %}</li>
      </ul>
    </nav>
  </article>
</div>

