@mixin intro {
  @include block;
  @include hide-title;
  
  @include intro-height;
  background: lightblue;
  
  #title {
    @include title;
  }
  
  #featured-image {
    @include featured-image;
  }
}



@mixin intro-height {
  height: row(6);
  
  @include below-tablet {
    height: row(4);
  }
  
  @include large-screen-and-up {
    height: row(6);
  }
}