@mixin values {
  @include values-grid;
  
  #about {
    @include about;
    
    #skills {
      @include skills;
    }
  }
  
  #slider {
    @include slider-grid;
    
    .slide {
      @include slider-common-elements;
      
      &#rwd {
        @include rwd;
      }

      &#ux {
        @include ux;
      }

      &#cms {
        @include cms;
      }

      &#psd {
        @include psd;
      }
    }
  }
}


@mixin slider-grid {
  @include landscape {
    @include slider;
    /* to make the iMac look good
    */
    overflow: visible;
  }
}


@mixin values-grid {
  @include landscape {
    width: 70%;
    overflow: hidden;
  }
  
  padding-left: 5%;
  padding-top: 5%;
  
  @include portrait {
    width: 90%;
  }
}

