{% assign id = include.id | times: 1 %}
{% assign figure = page.images[id] %}

<article id="{% include atoms/classname.html title=figure.title %}" class="cms slide">
  <h3>{{ figure.title }}</h3>
  
  {% include atoms/figure.html id=include.id %}
  
  <div class="type">
    <p>
      {{ figure.type }}
    </p>
  </div>
  
  <div class="description">
    <p>
      {{ figure.description }}
    </p>
  </div>
  
  <div class="projects">
    <p>
      {{ figure.projects }} since {{ figure.year }}
    </p>  
  </div>
</article>



