{% assign figure = include.image %}

<article id="{% include atoms/classname.html title=figure.title %}" class="cms slide">
  <h3>{{ figure.title }}</h3>
  
  <div class="container">
    {% include atoms/figure.html id=include.id %}
  
    <div class="type">
      <p>
        {{ figure.type }}
      </p>
    </div>

    <div class="description">
      <p>
        {{ figure.description }}
      </p>
    </div>

    <div class="projects">
      <p>
        {{ figure.projects }} done since {{ figure.year }}
      </p>  
    </div>
  </div>
</article>



