
{% assign classes = page.classes | join: ' ' %}

{% if page.button %}
  {% assign classes = classes | prepend: ' with-button' %}
{% endif %}

{% if page.subtitle %}
  {% assign classes = classes | prepend: ' with-subtitle' %}
{% endif %}

{% if page.images %}
  {% assign classes = classes | prepend: ' with-featured-image' %}
{% endif %}

<section id="intro" class="{{ classes }}">
  <h3>Introduction</h3>
  
  <article id="title">
    <div class="container">
      <h1>{{ page.title }}</h1>
    </div>
  </article>
  
  {% if page.button %}
    <article id="button">
      <h3>{{ page.button }}</h3>
      
      <div class="container">
        {% capture buttontext %}
          {% include atoms/link.html url="/portfolio" relative="true" title=page.button %}
        {% endcapture %}
        {% include atoms/button.html text=buttontext %}
      </div>
    </article>
  {% endif %}
  
  {% if page.subtitle %}
    <article id="subtitle">
      <h3>Subtitle</h3>
      
      <div class="container">
        <h3>{{ page.subtitle }}</h3>
      </div>
    </article>
  {% endif %}
  
  {% if page.images[0] %}
    <article id="featured-image">
      <h3>Featured image</h3>
      
      <div class="container">
        {% include atoms/figure.html id="0" %}
      </div>
    </article>
  {% endif %}
</section>