<section id="intro">
  <h3>Introduction</h3>
  
  <article id="title">
    <div class="container">
      <h1>{{ page.title }}</h1>
    </div>
  </article>
  
  {% if page.button %}
    <article id="button">
      <h3>{{ page.button }}</h3>
      
      <div class="container">
        {% include atoms/button.html text=page.button %}
      </div>
    </article>
  {% endif %}
  
  {% if page.images[0] %}
    <article id="featured-image">
      <h3>Featured image</h3>
      
      <div class="container">
        {% include atoms/figure.html id="0" %}
      </div>
    </article>
  {% endif %}
</section>