<section id="strapline">
  <h3>Strapline</h3>
  
  <div class="container">
    <svg class="portrait" viewBox="0 0 350 525" preserveAspectRatio="xMinYMin meet" version="1.1">
      <title>{{ page.title }}</title>
      
      <defs> 
        <clippath id="clip1">
          <text x="0" y="1em" width="100%">&nbsp;&nbsp;O&nbsp;ne</text>
          <text x="0" y="2em" width="100%">Stop sh</text>
          <text x="0" y="3em" width="100%">op For Your</text>
          <text x="0" y="4em" width="100%">Next Web</text>
          <text x="0" y="5em" width="100%">W&nbsp;&nbsp;e&nbsp;b</text>
          <text x="0" y="6em" width="100%">&nbsp;&nbsp;s&nbsp;&nbsp;i&nbsp;t&nbsp;&nbsp;e&nbsp;</text>
        </clippath>
      </defs>
      
      <image xlink:href="{{ site.url }}/{{ site.images }}/cliptext-newwave.jpg" clip-path="url(#clip1)" width="100%" height="100%" preserveAspectRatio="none" />
    </svg>
    
    <svg class="landscape" preserveAspectRatio="xMinYMin meet" version="1.1">
      <title>{{ page.title }}</title>
      
      <defs> 
        <clippath id="clip2">
          <text x="0" y="1em" width="100%">&nbsp;&nbsp;O&nbsp;ne</text>
          <text x="0" y="2em" width="100%">St&nbsp;&nbsp;o&nbsp;p&nbsp;&nbsp;Sh&nbsp;&nbsp;o&nbsp;p</text>
          <text x="0" y="3em" width="100%">sh&nbsp;&nbsp;o&nbsp;p</text>
          <text x="0" y="4em" width="100%">F&nbsp;&nbsp;o&nbsp;r&nbsp;&nbsp;Y&nbsp;&nbsp;o&nbsp;ur</text>
          <text x="0" y="5em" width="100%">our&nbsp;&nbsp;Ne xt</text>
          <text x="0" y="6em" width="100%">xt&nbsp;&nbsp;Webs ite</text>
          <text x="0" y="7em" width="100%">s&nbsp;&nbsp;i&nbsp;te</text>
        </clippath>
      </defs>
      
      <image xlink:href="{{ site.url }}/{{ site.images }}/cliptext-newwave.jpg" clip-path="url(#clip2)" width="100%" height="100%" preserveAspectRatio="none" />
    </svg>
  </div>
</section>