<section id="values">
  <h3>Values</h3>
  
  <div class="container">
    <article id="about">
      <h3>About</h3>
      
      <h2>Csongor is a web designer and developer with great product skills</h2>
    </article>
    
    <nav>
      <h3>Skills</h3>
      <ul>
        <li>
          {% capture c %}
            {% include atoms/circle.html text="RWD" %}
          {% endcapture %}
          {% include atoms/tooltip.html content=c text="Responsive web design since 2009" %}
        </li>
        <li>
          {% capture c %}
            {% include atoms/circle.html text="UX" %}
          {% endcapture %}
          {% include atoms/tooltip.html content=c text="Creating better user experiences" %}
        </li>
        <li>
          {% capture c %}
            {% include atoms/circle.html text="UI" %}
          {% endcapture %}
          {% include atoms/tooltip.html content=c text="User interaction design for engagement" %}
        </li>
        <li>
          {% capture c %}
            {% include atoms/circle.html text="CMS" %}
          {% endcapture %}
          {% include atoms/tooltip.html content=c text="Content management and optimization" %}
        </li>
      </ul>
    </nav>
    
    <article id="content">
      <h3>Content</h3>
      
      <div class="container">
      </div>
    </article>
  </div>
</section>