@mixin menu {
  @include block;
  @include hide-title;
  @include font(menu);
  
  @include landscape {
    @include menu-landscape;
  }
  
  @include portrait {
    @include menu-portrait;
  }
}



@mixin menu-portrait {
  ul {
    @include ul;
    
    li {
      @include link(none);
      border-bottom: 1px dotted #f9f9f9;
      
      &.active, &:hover {
        font-weight: bold;
      }
    }
  }
}



@mixin menu-landscape {
  padding-top: $gutter * 2;
  
  ul {
    @include list-inline;
    display: inline-block;
    
    li {
      @include link(menu);
      
      &.active {
        a {
          border-bottom: 2px solid;
        }
      }
    }
  }
}