---
layout: default
title: Get in touch
subtitle: Via email, twitter or a spiffy form. Answer in a business day
images:
  - desktop: contact-icon.png
    svg: contact-icon.svg
    title: Get in touch
  - desktop: email-icon.png
    svg: email-icon.svg
  - desktop: twitter-icon.png
    svg: twitter-icon.svg
---

<div class="container">
  <article>
    <h3>Direct contact</h3>
    
    <ul>
      <li>
        {% include atoms/link-with-icon.html url="mailto:bartus.csongor@gmail.com" text="bartus.csongor@gmail.com" title="Contact via email" id="1" %}
      </li>
      <li>
        {% include atoms/link-with-icon.html url="https://twitter.com/metamn" text="@metamn" title="Contact via Twitter" id="2" %}
      </li>
    </ul>
  </article>
  
  
  <article>
    <h3>Contact form</h3>
    
    <form action="http://getsimpleform.com/messages?form_api_token=d880283125ae9e07ca71d96259d6647b" method="post">
      <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
      <input type='hidden' name='redirect_to' value="{{ page.url }}" />
      
      <p>
        Hello I'm <input type='text' name='name' placeholder="your name"> from <input type='text' name='from' placeholder="your location, or company, or web"> and I <textarea rows="4" name="address" placeholder="your short message here ..."></textarea>
      </p>
      
      <p>
        Thank you,
        <input type='text' name='email' placeholder="your email">
      </p>
      
      <p>
        <input type='submit' value='Send message' />
      </p>
    </form>
  </article>
</div>
