---
layout: default
title: Get in touch
subtitle: Via email, twitter or a spiffy form. Answer in a business day
images:
  - desktop: contact-icon.png
    svg: contact-icon.svg
    title: Get in touch
  - desktop: email-icon.png
    svg: email-icon.svg
  - desktop: twitter-icon.png
    svg: twitter-icon.svg
---

<div class="container">
  <article>
    <h3>Direct contact</h3>
    
    <ul>
      <li>
        {% include atoms/link-with-icon.html url="mailto:bartus.csongor@gmail.com" text="bartus.csongor@gmail.com" title="Contact Csongor via email" id="1" %}
      </li>
      
      <li>
        {% include atoms/link-with-icon.html url="https://twitter.com/metamn" text="@metamn" title="Contact Csongor via Twitter" id="2" %}
      </li>
    </ul>
    
  </article>
</div>
