$white: white;
$black: hsla(170, 95%, 5%, 1);

$orange: hsla(39, 100%, 63%, 1);

/* fore very combination check the contrast ratio !!!
  - http://leaverou.github.io/contrast-ratio/

  - black on white: 18.4
  - black on orange: 11
*/

@mixin colors($combination: black-on-white) {
  @if ($combination == black-on-white) {
    color: $black;
    background: $white;
  
  } @elseif ($combination == black-on-orange) {
    color: $black;
    background: $orange;
  }
}