// Typefaces
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);



// Heading sizes
// - based on lamb.cc/typography using Fibonacci numbers
$heading-level-1: 1.6154em;
$heading-level-2: 2.6154em;
$heading-level-3: 4.2308em;




@mixin font($type: body) {
  @if ($type == body) {
    font-family: 'Montserrat', sans-serif;
  
  } @elseif ($type == strapline) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    
    font-size: $heading-level-2;
    @include portrait {
      font-size: $heading-level-3;
    }
  
  } @elseif ($type == title) {
    font-family: 'Montserrat', sans-serif;
    @include portrait {
      font-size: $heading-level-1;
    }
  }
}