@mixin input {
  @include text-inputs;
}


@mixin textarea {
  @include text-inputs;
}




@mixin text-inputs {
  @include reset-form;
  @include font;
  font-size: 1em;
  
  border-bottom: 1px dotted;
  text-align: center;
  
  color: $grey;
  &:active, &:hover {
    color: $green;
  }
}


@mixin reset-form {
  border: none;
  outline: 0;
  background: $white;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}