html.about {
  body {
    #intro {
      @include colors(black-on-orange);
      @include harsh($orange, $white);
      
      height: row(4);
    }
    
    #content {
      @include typographic-elements;
      
      canvas {
        width: 90%;
        max-height: 10em;
        position: relative;
      }
      
      article {   
        + article {
          padding-top: row(1);
        }
      }
    }
    
    footer {
      padding-top: 0;
      
      .container {
        @include hide-title;
      }
    }
  }
}




