@mixin cms {
  .container {
    width: 95%;
    margin-right: 5%;
    margin-top: $gutter;
    
    aside {
      .cms {
        position: relative;
        @include symmetric-grid;
        
        figure, div {
          @include block;
          margin-bottom: $gutter;
        }
        
        figure {
          height: $gutter * 4;
          @include figure;
          @include cms-figures;
        }
        
        .description {
          height: $gutter * 3;
        }
        
        .year, .type {
          display: none;
        }
      }
    }
  }
}



@mixin cms-figures {
  img {
    position: relative;
    max-height: $gutter * 4;
  }
  
  &#docpad img {
    top: $gutter;
  }
  
  &#craft img {
    max-width: $gutter * 4;
    top: $gutter + $gutter / 4;
  }
}