@mixin footer {
  @include block;
  @include center($text-width);
  
  height: row(1);
  padding-bottom: row(1);
  
  padding-top: row(1);
  @include landscape {
    padding-top: row(2);
  }
  
  .container {
    .button {
      margin-top: $gutter;
      @include button;
    }
  }
}