@mixin strapline {
  padding-left: 5%;
  padding-top: $gutter;
  width: 45%;
  
  @include portrait {
    width: 90%;
  }
  
  .container {
    @include svg-cliptext;
    
    svg {
      @include portrait-or-landscape;
      text {
        @include font(strapline);
      }
    }
  }
}

