@mixin ux {
  .container {
    p {
      @include font(title);
      font-size: $heading-level-3;
      font-weight: 700;
      max-width: $text-width / 2;
      text-transform: uppercase;
      
      span {
        @include reveal-span;
      }
      
      &.done {
        @include final-effect;
      }
    }
  }
}


@mixin final-effect {
  span {
    cursor: default;
  }
}


@mixin reveal-span {
  cursor: pointer;
  
  display: inline-block;
  padding: $gutter/8;
  margin-bottom: $gutter/8;
  @include gradients($yellow $orange $green $violet, 11, 5%);

  &.active {
    background: $black;
  }
}