@mixin ux {
  .container {
    p {
      font-size: $heading-level-4;
      
      span {
        @include reveal-span;
      }
      
      &.done {
        @include final-effect;
      }
    }
  }
}


@mixin final-effect {
  span {
    cursor: default;
  }
}


@mixin reveal-span {
  color: transparent;
  cursor: pointer;
  
  @include gradients($yellow $orange $green $violet, 11);

  &:hover, &.active {
    @include colors;
    background-color: $white !important;
  }
}