@mixin ux {
  .container {
    p {
      font-size: $heading-level-4;
      
      span {
        @include reveal-span;
      }
      
      &.done {
        @include final-effect;
      }
    }
  }
}


@mixin final-effect {
  font-weight: 700;
  
  span {
    color: $black;
    cursor: default;
  }
}


@mixin reveal-span {
  cursor: pointer;
  @include gradients($yellow $orange $green $violet, 11, 5%);

  &:hover, &.active {
    background-color: $white !important;
  }
}