@mixin values {
  position: relative;
  width: 70%;
  padding-left: 5%;
  float: left;
  
  #about {
    position: absolute;
    top: 10%;
    
    max-width: $text-width / 1.5;
    
    h2 {
      @include font(title);
    }
    
    #skills {
      margin-top: $gutter;

      ul {
        li {
          @include circle-with-text($gutter * 3.2);
        }
      }
    }
  }
  
  #content {
    figure {
      @include figure;
      position: absolute;
      width: auto;
      
      &#imac {
        float: right;
        right: 5%;
        top: 15%;
        z-index: 3;

        img {
          max-width: 700px;
        }
      }
      
      &#ipad {
        top: 51%;
        z-index: 2;
        
        img {
          max-width: 200px;
        }
      }
      
      &#mbp {
        top: 50%;
        left: 22.5%;
        z-index: 1;
        
        img {
          max-width: 500px;
        }
      }
    }
  }
  
  
  #navigation {
    position: absolute;
    bottom: 10%;
    
    ul {
      @include list-inline;
      
      li {
        margin-left: 1.25em; 
        @include button;
      }
    }
  }
  
  ul {
    font-size: medium;
  }
}

