@mixin values {
  position: relative;
  width: 50%;
  padding-left: 5%;
  float: left;
  
  #about {
    position: absolute;
    top: 15%;
    
    max-width: $text-width / 1.5;
    
    h2 {
      @include font(title);
    }
    
    #skills {
      margin-top: $gutter;

      ul {
        li {
          @include circle-with-text($gutter * 3.2);
        }
      }
    }
  }
  
  
  #navigation {
    position: absolute;
    bottom: 15%;
    
    ul {
      @include list-inline;
      
      li {
        margin-left: 1.25em; 
        @include button;
      }
    }
  }
  
  ul {
    font-size: medium;
  }
}

