@mixin values {
  width: 70%;
  padding-left: 5%;
  overflow: hidden;
  
  #about {
    @include about;
    
    #skills {
      @include skills;
    }
  }
  
  #slider {
    @include slider;
    
    .slide {
      
      p {
        @include font;
      }
      
      figure {
        @include figure;
      }
      
      &#rwd {
        @include rwd;
      }

      &#ux {
        @include ux;
      }

      &#cms {
        @include cms;
      }

      &#psd {
        @include psd;
      }
    }
  }
}

